
body {
    background-color: aliceblue;
}

.container {
    background-color: cadetblue;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 70px;
    padding: 20px;
    
}

.card {
    margin: auto;
}

#dob {
    background-color: rgb(178, 206, 231);
}

#sbutton {
    background-color: rgb(133, 160, 184);
}

#result {
    background-color: rgb(155, 199, 238);
    padding: 2px;
    font-family: monospace;
}